.btn{
	.font-primary;
	.border-radius(4px 0 0 4px;);
	margin: 0;
	padding: 0 22px 0 15px;
	border : 0;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: url(../images/btn/01.png) no-repeat right top;
}
.btn:hover,.btn-hover{
	background-position: right bottom;
}