.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float: left!important;
}
.pull-right{
	float: right!important;
}
.clear{
	clear:both;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.img-circle {
	.border-radius(50%);
}
.colored-orange{
	color: @color-link;
}
// xart
nav.more{
	margin:0 0 20px;
	text-align: right;
	a{
		.btn;
		&:hover{
			.btn-hover;
		}
		&:after{
			.font-icon;
			position: relative;
			content: '\e803';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@color-link,40%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@color-primary,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@color-link,43%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@color-link,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@color-link,20%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.border-radius(3px);
		position: relative;
		border: 1px solid lighten(@color-primary,50%);
		border-bottom-color: #fff;
		border-right-color: #fff;
		font-size: 16px;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 16px;
		padding: 6px 10px;
		color: @color-primary;
		background: #fff;
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding: 2px 6px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		.box-shadow(0 0 10px rgba(0,0,0,0.2));
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			.border-radius(3px 0 0 3px);
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			.border-radius(0 4px 4px 0);
			float: left;
			height: 30px;
			line-height: 30px;
			background-position: 0 -5px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.normal-button:hover{
		.btn-hover;
	}
	.fileinputs:hover .normal-button{
		background-position: 0 -55px;
	}
}
.search-results .highlight,.results .highlight{
	background: @color-link;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		.border-radius(4px);
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-position: 0 -5px;
	}
	a:hover{
		background-position: 0 -55px;
	}
	span.pagenav{
		color: #fff;
		background: @color-link;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 14px;
	background: url(../images/bg/01.png) no-repeat top;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@color-primary,50%);
}
a.xeditorpopup:hover img{
	border-color: @color-link;
}
.mod_breadcrumbs ul{
	.reset-ul;
	margin: 0 0 30px;
	li{
		position: relative;
		margin: 0 5px 0 0;
		padding: 0 0 0 14px;
		display: inline;
		font-size: 14px;
		a{
			font-weight: normal;
			color: @color-primary;
		}
		&:before{
			top: 5px;
			font-size: 10px;
			line-height: 1;
			font-weight: normal;
			color: @color-primary;
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @color-link;
		ul{
			.reset-ul;
			li{
				.reset-li;
			}
		}
	}
	.notice{
		background: lighten(@color-link,20%);
	}
	.warning,.error{
		background-color: @color-link;
	}
}
