@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext);
@import url('../fontello/css/garant-icons.css');
.font-primary{
	font-family: 'Source Sans Pro',sans-serif;
}
.font-header{
	font-family: 'Anton', sans-serif;
}
.font-icon{
	font-family: 'garant-icons';
}
