.container{
	.clearfix;
	position: relative;
	width: 920px;
	padding: 0 20px;
	margin: auto;
	text-align: left;
}
#page-header{
	position: relative;
	z-index: 2;
	padding: 20px 0 30px;
	background: #fff;
	min-width: 960px;
	.logo{
		width: 290px;
		padding: 8px 0 0;
		float: left;
		a{
			display: block;
			height: 75px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#col-bottom{
	.box-shadow(0 1px 4px rgba(0,0,0,0.2));
	position: relative;
	z-index: 1;
	padding: 62px 0;
	background: #f5f5f5;
	min-width: 960px;
	.col-main{
		float: left;
		width: 660px;
	}
	.col-right{
		width: 240px;
		float: right;
	}
}
#page-footer{
	position: relative;
	padding: 37px 0;
	background: #fff;
	min-width: 960px;
	.logo{
		width: 176px;
		margin: 0 54px 0 0;
		float: left;
		a{
			display: block;
			height: 46px;
			text-indent: -9999px;
			background: url(../images/logo/03.png) no-repeat;
		}
	}
	.copy{
		width: 480px;
		float: left;
		font-size: 12px;
		color: #7f7f7f;
		p{
			margin: 0 0 10px;
		}
	}
	.xart{
		width: 200px;
		float: right;
		text-align: right;
		font-size: 11px;
		text-transform: uppercase;
		padding: 12px 0 0;
		img{
			float: right;
			margin: -2px -3px 0 10px;
		}
		a{
			text-decoration: none;
			color: #7f7f7f;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#content{
	padding: 50px 0;
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(27px);
		position: fixed;
		z-index: 99999;
		bottom: -60px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 46px;
		text-align: center;
		background: @color-link;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e802';
			font-size: 20px;
		}
		&:hover{
			background: darken(@color-link,10%);
		}
	}
	&.on{
		a{
			bottom: 22px;
		}
	}
}