.mod_menu-main{
	width: 350px;
	float: left;
	padding: 62px 0 0 30px;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			margin: 0 0 0 10px;
			font-size: 16px;
			&:before{
				position: static;
				content: '/';
				margin: 0 10px 0 0;
				font-size: 16px;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
			a{
				color: #1b1c20;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-kontakt{
	width: 240px;
	float: right;
	padding: 10px 0 0;
	.phone{
		.font-header;
		position: relative;
		color: @color-link;
		font-size: 37px;
		line-height: 1;
		padding: 0 0 0 55px;
		white-space: nowrap;
		margin: 0 0 5px;
		&:before{
			.font-icon;
			.border-radius(22px);
			position: absolute;
			left: 0;
			top: -2px;
			content: '\e800';
			background: @color-link;
			color: #fff;
			font-size: 30px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			text-align: center;
		}
	}
	address{
		position: relative;
		padding: 0 0 0 80px;
		font-size: 13px;
		line-height: 1.3;
		color: #828282;
		&:before{
			.font-icon;
			position: absolute;
			left: 48px;
			top: 0;
			content: '\e801';
			font-size: 30px;
			line-height: 1;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	min-width: 960px;
	&:before{
		content: '';
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		height: 14px;
		background: url(../images/bg/01.png) no-repeat center;
		background-size: 100% 100%;
	}
	ul {
		.reset-ul;
		li {
			.reset-li;
			display: none;
			width: 100%;
			overflow: hidden;
			&:first-child {
				display: block;
			}
			img {
				display: block;
				width: 100%!important;
				height: auto!important;
			}
		}
	}
	.prev, .next {
		.border-radius(50%);
		position: absolute;
		z-index: 999;
		top: 50%;
		left: -36px;
		height: 72px;
		line-height: 72px;
		font-size: 24px;
		width: 44px;
		margin: -36px 0 0; 
		padding: 0 0 0 28px;
		text-align: center;
		color: #fff;
		background: @color-link;
		&:hover{
			background: darken(@color-link,5%);
		}
		&:before{
			margin: 0;
		}
	}
	.next {
		left: auto;
		right: -36px;
		padding: 0 28px 0 0;
	}
	.pager {
		position: absolute;
		z-index: 999;
		bottom: 20px;
		left: 0;
		right: 0;
		span {
			.border-radius(50%);
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 4px;
			text-indent: -9999px;
			background: #a7a8a8;
			cursor: pointer;
			&.cycle-pager-active {
				background: @color-link;
			}
		}
	}
}
.mod_search{
	.box-shadow(0 0 4px rgba(0,0,0,0.6));
	position: relative;
	z-index: 1;
	padding: 28px 0 23px;
	font-size: 16px;
	background: @color-link;
	border-top: 1px solid darken(@color-link,10%);
	min-width: 960px;
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: 100%;
		width: 100%;
		height: 14px;
		background: url(../images/bg/01.png) no-repeat top;
	}
	a{
		color: @color-primary;
	}
	.mod-title{
		position: relative;
		padding: 0 0 0 54px;
		margin: 0 0 3px;
		color: #fff;
		line-height: 1;
		mark{
			.font-header;
			font-size: 27px;
			color: #fff;
			margin: 0 18px 0 0;
			text-transform: uppercase;
		}
		span{
			display: none;
		}
		&:before{
			.font-icon;
			.border-radius(22px);
			position: absolute;
			left: 0;
			top: -8px;
			content: '\e811';
			background: #fff;
			color: @color-link;
			font-size: 26px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			text-align: center;
		}
	}
	.row{
		.clearfix;
		margin: 0 0 0 -40px;
		.col3{
			width: 200px;
			float: left;
			margin: 0 0 0 40px;
			p{
				margin: 24px 0;
			}
		}
	}
	.selector {
		position: relative;
		width: 100%!important;
		span{
			.border-radius(3px);
			display: block;
			font-size: 16px;
			line-height: 34px;
			height: 34px;
			background: #fff;
			width: auto!important;
			border: 1px solid darken(@color-link,20%);
			border-bottom-color: #fff;
			border-right-color: #fff;
			white-space: nowrap;
			overflow: hidden;
			padding: 0 0 0 15px;
		}
		&:before{
			.border-radius(3px);
			.font-icon;
			position: absolute;
			content: '\e809';
			right: 0;
			top: 1px;
			font-size: 20px;
			line-height: 34px;
			width: 34px;
			height: 34px;
			color: #828282;
			text-align: center;
			background: #fff;
		}
		select{
			border: none;
			background: none;
			position: absolute;
			height: 36px;
			top: 0;
			left: 0;
			width: 100%;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter:alpha(opacity=0);
		}
	}
	.label-range{
		white-space: nowrap;
		display: block;
		line-height: 1;
		margin: -3px 0 13px;
		mark{
			color: #fff;
			margin: 0 6px 0 0;
		}
		.from,.to{
			font-style: italic;
		}
	}
	.range{
		.border-radius(5px);
		position: relative;
		display: block;
		height: 10px;
		background: #d1d1d1;
		box-shadow: -1px -1px 0 rgba(0,0,0,0.2);
		.ui-slider-range{
			.border-radius(5px);
			position: absolute;
			top: 0;
			height: 100%;
			background-color: #fbeed4;

			background-image: -webkit-linear-gradient(135deg,#fff 25%,transparent 25%,transparent 50%,#fff 50%,#fff 75%,transparent 75%,transparent);
			background-image: -o-linear-gradient(135deg,#fff 25%,transparent 25%,transparent 50%,#fff 50%,#fff 75%,transparent 75%,transparent);
			background-image: linear-gradient(135deg,#fff 25%,transparent 25%,transparent 50%,#fff 50%,#fff 75%,transparent 75%,transparent);
			-webkit-background-size: 10px 10px;
			background-size: 10px 10px;
			background-position: top;

		}
		.ui-slider-handle{
			.border-radius(10px);
			.box-shadow(1px 1px 0 rgba(0,0,0,0.3));
			position: absolute;
			top: -5px;
			margin-left: -10px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			color: #828282;
			background: #fff;
			text-align: center;
			outline: none;
			&:before{
				.font-icon;
				content: '\e804';
				left: 0;
				top: 0;
			}
			&:first-of-type{
				&:before{
					content: '\e803';
				}
			}
		}
	}
	.more{
		display: block;
		margin: -9px 0;
		font-size: 15px;
		&:before{
			.font-icon;
			float: left;
			content: '\e809';
			font-size: 18px;
			margin: 0 8px 0 0;
		}
	}
	button{
		.btn;
		height: 67px;
		line-height: 67px;
		background: url(../images/btn/02.png) no-repeat right top;
		&:hover{
			.btn-hover;
		}
		mark{
			color: #fff;
			font-weight: bold;
			font-size: 20px;
		}
	}
	.toggle{
		.border-radius(25px);
		position: absolute;
		bottom: -45px;
		right: 20px;
		width: 50px;
		height: 50px;
		line-height: 60px;
		text-align: center;
		font-size: 18px;
		color: #fff;
		background: @color-link;
		&:before{
			.font-icon;
			content: '\e805';
		}
	}
	.content{
		.transition(0.5s);
		max-height: 0;
		overflow: hidden;
	}
	&.on{
		.mod-title{
			span{
				display: inline;
			}
		}
		.content{
			max-height: 500px;
		}
		.toggle{
			&:before{
				content: '\e802';
			}
		}
	}
}
.mod_custom-produkty{
	position: relative;
	padding: 60px 0;
	.items{
		.clearfix;
		margin: 0 0 0 -54px;
		.item{
			.box-shadow(0 0 4px rgba(0,0,0,0.3));
			width: 240px;
			padding: 12px 15px;
			margin: 0 0 50px 54px;
			float: left;
			background: #fff;
			min-height: 237px;
			&.highlight{
				background: #ffd5ad;
			}
			h2{
				.font-primary;
				position: relative;
				z-index: 1;
				text-align: center;
				font-size: 16px;
				line-height: 19px;
				height: 38px;
				overflow: hidden;
				font-weight: bold;
				margin: 0 0 12px;
				a{
					color: @color-primary;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			figure{
				position: relative;
				margin: 0 0 14px;
				img{
					display: block;
					max-width: 100%;
					height: auto!important;
				}
				.label{
					position: absolute;
					top: -31px;
					right: -31px;
					width: 130px;
					height: 130px;
					text-align: center;
					line-height: 123px;
					color: #fff;
					font-size: 15px;
					background: url(../images/bg/02.png) no-repeat;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				* {
			        -webkit-transform: translate3d(0,0,0);
			      }
			}
			.year{
				float: left;
				font-size: 21px;
				&:before{
					.font-icon;
					position: relative;
					top: 2px;
					content: '\e812';
					font-size: 16px;
					float: left;
					margin: 1px 5px 0 0;
				}
			}
			.price{
				.font-header;
				float: right;
				color: @color-link;
				font-size: 27px;
				line-height: 1;
			}
			.km{
				float: left;
				font-size: 21px;
				&:before{
					.font-icon;
					position: relative;
					top: 2px;
					content: '\e80e';
					font-size: 16px;
					float: left;
					margin: 1px 5px 0 0;
				}
			}
			.more{
				float: right;
				a{
					position: relative;
					display: block;
					text-indent: -9999px;
					top: 0;
					left: 0;
					text-decoration: none;
					&:before{
						.font-icon;
						position: absolute;
						content: '\e80b';
						top: -2px;
						right: 0;
						text-indent: 0;
						font-size: 23px;
						text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
	.more-items{
		clear: both;
		text-align: center;
		background: url(../images/bg/03.png) no-repeat top;
		font-size: 18px;
		padding: 35px 0;
		margin: 0 0 -60px;
		img{
			position: relative;
			top: 2px;
			margin: 0 10px 0 0;
		}
		a{
			color: @color-primary;
		}
	}
}
.mod_custom-sluzby{
	width: 420px;
	float: left;
	margin: 0 0 32px;
	.mod-title{
		.font-header;
		position: relative;
		color: @color-link;
		padding: 0 0 0 55px;
		margin: 0 0 25px;
		font-size: 27px;
		line-height: 1.2;
		text-transform: uppercase;
		&:before{
			.font-icon;
			.border-radius(22px);
			position: absolute;
			content: '\e80f';
			left: 0;
			top: -7px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			font-size: 21px;
			text-align: center;
			color: #fff;
			background: @color-link;
		}
	}
	ul{
		margin-left: 26px;
		li{
			font-size: 18px;
			padding-left: 30px;
			margin: 9px 0;
			&:before{
				content: '\e813';
				font-size: 20px;
				-webkit-transform: rotate(-6deg);
				-moz-transform: rotate(-6deg);
				-ms-transform: rotate(-6deg);
				transform: rotate(-6deg);
			}
		}
	}
}
.mod_custom-prodej{
	width: 210px;
	float: right;
	line-height: 1.2;
	margin: 0 0 32px;
	.mod-title{
		.font-header;
		position: relative;
		color: @color-link;
		margin: 0 0 25px;
		font-size: 27px;
		line-height: 1.2;
		text-transform: uppercase;
	}
}
.mod_custom-nabidka{
	.clearfix;
	clear: both;
	margin: 0 0 13px;
	.offer{
		.font-header;
		position: relative;
		font-size: 20px;
		line-height: 1.2;
		text-transform: uppercase;
		float: left;
		width: 135px;
		padding: 0 0 0 85px;
		color: @color-link;
		mark{
			.border-radius(36px);
			position: absolute;
			left: 0;
			top: -12px;
			width: 72px;
			height: 72px;
			line-height: 72px;
			text-align: center;
			color: #fff;
			background: @color-link;
			font-size: 34px;
		}
	}
	nav{
		float: right;
		a{
			.btn;
			margin: 0 10px 0 8px;
			padding-left: 20px;
			&:hover{
				.btn-hover;
			}
			mark{
				font-size: 20px;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}
.mod_newsflash_xart{
	position: relative;
	margin: 0 0 20px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(33%,rgba(255,255,255,1)), color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
	&:before{
		position: absolute;
		content: '';
		right: 100%;
		top: 50%;
		margin-top: -193px;
		width: 9px;
		height: 386px;
		background: url(../images/bg/04.png) no-repeat;
	}
	.mod-title{
		padding: 8px 0 34px 22px;
	}
	section{
		position: relative;
		width: 240px;
		overflow: hidden;
		article{
			width: 200px;
			margin: 0 20px;
			font-size: 14px;
			line-height: 1.3;
			&.cycle-sentinel{
				display: none!important;
			}
			figure{
				margin: 0 0 17px;
			}
			time{
				font-size: 16px;
				&:before{
					.font-icon;
					position: relative;
					top: -1px;
					content: '\e812';
					font-size: 14px;
					margin: 0 5px 0 0;
				}
			}
			h2{
				.font-primary;
				margin: 7px 0;
				font-weight: bold;
				font-size: 14px;
				a{
					color: @color-primary;
				}
			}
			p{
				margin: 10px 0;
			}
		}
	}
	nav{
		float: left;
		padding: 15px 0 0 20px;
		a{
			color: @color-primary;
			&:before{
				.font-icon;
				content: '\e810';
				float: left;
				margin: 0 8px 0 0;
			}
		}
	}
	.arr{
		float: right;
		padding: 12px 15px 0 0;
		a{
			text-decoration: none;
			text-indent: 0;
			font-size: 23px;
			margin: 0 0 0 -5px;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
		}
	}
}
.mod_menu-footer{
	padding: 10px 0 0;
	margin: 0 0 4px;
	width: 480px;
	float: left;
	ul{
		.reset-ul;
		.clearfix;
		li{
			.reset-li;
			float: left;
			font-size: 13px;
			text-transform: uppercase;
			margin: 0 8px 0 0;
			&:before{
				position: static;
				content: '/';
				margin: 0 8px 0 0;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
			a{
				text-decoration: none;
				color: @color-primary;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}