
.icon-phone:before { content: '\e800'; } /* '' */
.icon-direction:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e806'; } /* '' */
.icon-angle-right:before { content: '\e807'; } /* '' */
.icon-angle-up:before { content: '\e808'; } /* '' */
.icon-angle-down:before { content: '\e809'; } /* '' */
.icon-angle-circled-left:before { content: '\e80a'; } /* '' */
.icon-angle-circled-right:before { content: '\e80b'; } /* '' */
.icon-angle-circled-up:before { content: '\e80c'; } /* '' */
.icon-angle-circled-down:before { content: '\e80d'; } /* '' */
.icon-cab:before { content: '\e80e'; } /* '' */
.icon-gauge:before { content: '\e80f'; } /* '' */
.icon-docs:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-calendar-empty:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */