@font-face {
  font-family: 'garant-icons';
  src: url('../font/garant-icons.eot?28601994');
  src: url('../font/garant-icons.eot?28601994#iefix') format('embedded-opentype'),
       url('../font/garant-icons.woff?28601994') format('woff'),
       url('../font/garant-icons.ttf?28601994') format('truetype'),
       url('../font/garant-icons.svg?28601994#garant-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'garant-icons';
    src: url('../font/garant-icons.svg?28601994#garant-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "garant-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\e800'; } /* '' */
.icon-direction:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e806'; } /* '' */
.icon-angle-right:before { content: '\e807'; } /* '' */
.icon-angle-up:before { content: '\e808'; } /* '' */
.icon-angle-down:before { content: '\e809'; } /* '' */
.icon-angle-circled-left:before { content: '\e80a'; } /* '' */
.icon-angle-circled-right:before { content: '\e80b'; } /* '' */
.icon-angle-circled-up:before { content: '\e80c'; } /* '' */
.icon-angle-circled-down:before { content: '\e80d'; } /* '' */
.icon-cab:before { content: '\e80e'; } /* '' */
.icon-gauge:before { content: '\e80f'; } /* '' */
.icon-docs:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-calendar-empty:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */